.self{
    width: 100% !important;
    border-radius: 0.2em !important;
    box-shadow: -0.2em 0.2em 0.4em 0.01em #707270 !important;
}
.animate-self{
    animation: self 0.25s ease-in 1 alternate forwards;
}
@keyframes self {
    0%{transform: translateX(-100%);}
    100%{transform: translateX(0);}
}
.topS{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.bottomS{
    float: left;
    text-align: left;
    margin: 0.7em 0.3em 0.5em 0.8em;
    display: flex;
    flex-direction: column;
}

@media(max-width:895px){  
    .self{
        margin-top: 1em;
        padding-bottom: 1em !important;
        box-shadow: -0.2em 0.2em 0.6em 0.01em #2f302f !important;
        letter-spacing: 0.03em;
    }
    .bottomS{
        gap: 0.2em;
    }
}

