  .link {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    margin: 5px;
  }
  
  .link:hover {
    background-color: white;
    background-position: -100px 100px, -100px 100px;
    transform: rotate3d(0.5, 1, 0, 30deg);
    transform: perspective(180px) rotateX(40deg) translateY(2px);
    box-shadow: 0px 10px 3px #78881c;
  }
  
  .linkBtn {
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 0.25em !important;
  }
  
  .linkBtn:hover {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0px, 0px, 15px) perspective(180px) rotateX(-35deg) translateY(2px);
    border-radius: 50%;
    cursor: pointer;
  }