*{
  padding: 0 !important;
}
.card{
  display: flex;
  border-radius: 0.2em !important;
  box-shadow: 0.2em 0.2em 0.2em 0.01em #2c2f3f !important;
  position: relative;
}

.card:hover{
  border-left: 0.3em solid #ffffff;
}
.card:has(.project-item.active){
  transform: scale(1.02);
  box-shadow: 1;
  border-left: 0.3em solid #faf9f9;  
  color: black !important;
}
.data{
  padding:1em !important;
}
@media(max-width:1200px){
  .data{
    padding: 0.3em !important;
    line-height: 1.1em;
  }
  .data h2{
    font-size: large;
  }
  .data p{
    font-size: 0.9em;
  }
}
@media(max-width:560px){
  .project-item{
    justify-content: start;
  }
}
/* @media (min-width: 769px) and (max-width: 1100px) and (max-height: 1380px) {
  .data h2{
    font-size: 2em;
  }
  .data p{
    font-size: 1.5em;
  }
} */
